<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorTraeOrigen</servlet-name>
        <servlet-class>BBL.ControladorTraeOrigen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDevuelveDestino</servlet-name>
        <servlet-class>BBL.ControladorDevuelveDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBuscarViaje</servlet-name>
        <servlet-class>BBL.ControladorBuscarViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPruebas</servlet-name>
        <servlet-class>BBL.ControladorPruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorGuardarDatosViajeros</servlet-name>
        <servlet-class>BBL.ControladorGuardarDatosViajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginPago</servlet-name>
        <servlet-class>BBL.ControladorLoginPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistrarClientePago</servlet-name>
        <servlet-class>BBL.ControladorRegistrarClientePago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorTraeOrigen</servlet-name>
        <url-pattern>/ControladorTraeOrigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDevuelveDestino</servlet-name>
        <url-pattern>/ControladorDevuelveDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBuscarViaje</servlet-name>
        <url-pattern>/ControladorBuscarViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPruebas</servlet-name>
        <url-pattern>/ControladorPruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorGuardarDatosViajeros</servlet-name>
        <url-pattern>/ControladorGuardarDatosViajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginPago</servlet-name>
        <url-pattern>/ControladorLoginPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistrarClientePago</servlet-name>
        <url-pattern>/ControladorRegistrarClientePago</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
